<h1>MEU CARRINHO</h1>
<div class="market-container">
  <form action="/delete/carrinho" method="POST">
    <table class="table table-hover table-bordered table-dark tb-color">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Jogo</th>
          <th scope="col">Preço</th>
          <th scope="col">Ação</th>
          <!-- Adicionado coluna para ação de exclusão -->
        </tr>
      </thead>
      <tbody>
        {{#each jogo}}
          <tr>
            <th scope="row">{{@index}}</th>
            <td>{{this.jogosNome}}</td>
            <td>R${{this.PrecoJogo}}</td>
            <td>
              <form action="/delete/carrinho" method="POST">
                <div class="btn-group">
                  <input type="hidden" name="id" value="{{this.jogosID}}" />
                  <button
                    class="btn btn-danger"
                    name="delete"
                    type="submit"
                  >Deletar</button>
                </div>
              </form>

            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </form>

  <h3>Total: R$ {{total}}</h3>
  <a>
    <div class="btn-group">
      <a
        href="http://localhost:3000/finishbuy"
        class="btn btn-success"
        name="finish"
        
      >Finalizar compra</a>
    </div>

</div>

  <div class="info-container">
        <ul>
          Informações importantes:
          <li>
            Todos os itens são entregues apenas de forma digital por download ou
            créditos direto na conta e estão sujeitos à política de reembolso.
          </li>
          <li>
            Verifique os requisitos de sistema na página de cada jogo e os
            Termos de Uso antes de realizar a compra.
          </li>
          <li>
            Alguns itens possuem limite temporário de compra e podem levar em
            torno de 2 dias para poder fazer uma nova compra do mesmo item.
          </li>
        </ul>
      </div>